/* Color Palette */
:root {
    --color-primary: #438496;
    --color-headings: #fff;
    --color-body: #525252;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1 {
    font-size: 6rem;
    color: var(--color-headings);
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    color: var(--color-primary);
    font-size: 4rem;
}

p {
    color: var(--color-headings);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.header {
    background: var(--color-primary);
    margin-bottom: 4rem;
}

.login-h2, .form-h2 {
    margin: 3rem;
}

.stats {
    margin-left: 3rem;
}

.stats-h2 {
    margin-bottom: 1rem;
}

/* Container */
.employee-container {
    display: flex;
    justify-content: space-between;
}

#container-pending {
    margin-right: 3rem;
}

#employee-table-pending {
    margin-left: 0;
}


/* Cards */

.card-login {
    border: 1px solid lightgray;
    border-radius: 30px;
    box-shadow: 0 0 30px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.card-manager {
    margin: 4rem 4rem 1rem 1rem;
}

.card-employee {
    margin: 4rem 1rem 1rem 4rem;
}

/* Buttons */
.btn {
    text-transform: uppercase;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

.btn--login {
    color: var(--color-headings);
    background: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 6rem;
    margin-bottom: 3rem;
    text-decoration: none;
}

.btn-logout {
    font-size: 2rem;
    color: var(--color-headings);
    background: var(--color-primary);
}

.btn-pending, .btn-past {
    color: var(--color-headings);
    background: var(--color-primary);
    font-size: 1.5rem;
    margin-left: 3rem;
    padding: 1rem 1.3rem;
}

.btn-approval, .btn-form, .btn-submit {
    color: var(--color-headings);
    background: var(--color-primary);
    font-size: 1.5rem;
    padding: 1rem 1.3rem;
}

.btn-stat1, .btn-stat2, .btn-stat3, .btn-stat4, .btn-stat5 {
    color: var(--color-primary);
    background-color: var(--color-headings);
    text-transform: initial;
    margin-left: 3rem;
}

.btn-denial {
    background: #ff0700;
}

.btn-pending:hover, .btn-past:hover, .btn-approval:hover, .btn--login:hover {
    background: #58A0B4;
}

.btn-stat1:hover, .btn-stat2:hover, .btn-stat3:hover, .btn-stat4:hover, .btn-stat5:hover {
    color: #58A0B4;
}

.btn-denial:hover {
    background: #FF3833;
}

/* Inputs */
.input {
    padding: 1.5rem 3.5rem;
    margin: 2rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tables */
table {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1rem 0 2rem 3rem;
}

th {
    color: var(--color-body);
    font-size: 1.7rem;
    padding: 10px;
}

tr {
    border-bottom: 1px solid lightgray;
}

td {
    font-size: 1.5rem;
    padding: 0.75rem;
    text-align: center;
}

#stats-td {
    padding: 0;
    table-layout: fixed;
}

/* Forms */
form {
    margin-left: 3rem;
}

.form-group {
    margin-bottom: 1rem;
}

#reimbursementId {
    margin-left: 1rem;
}

#employeeId {
    margin-left: 8.2rem;
}

#date {
    margin-left: 17.7rem;
}

#amount {
    margin-left: 13.6rem;
}

#reason {
    margin-left: 14.6rem;
}

